body {
    font-family: 'Times New Roman', serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #ff69b4;
    padding: 20px;
    text-align: center;
  }
  
  header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  header nav ul li {
    margin-right: 20px;
  }
  
  header nav a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .hero {
    background-color: #000000;
    padding: 20px;
    text-align: center;
  }
  
  .hero h1 {
    font-size: 64px;
    color: #ff69b4;
  }
  
  .hero p {
    font-size: 36px;
    color: #ff69b4;
  }
  
  .buy-button {
    font-size: 24px;
    color: #fff;
    background-color: #ff69b4;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
  }
  
  .shop {
    background-color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .shop h2 {
    font-size: 36px;
    color: #000000;
  }
  
  .shop ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .shop li {
    margin-bottom: 20px;
  }
  
  .shop h3 {
    font-size: 24px;
    color: #ff69b4;
  }
  
  .shop p {
    font-size: 18px;
    color: #ff0000;
  }
  
  .add-to-cart-button {
    font-size: 18px;
    color: #fff;
    background-color: #ff69b4;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .gift {
    background-color: #ffffff;
    padding: 1px;
    text-align: center;
  }
  
  .gift img {
    width: 300px;
    height: 300px;
    float: center;
    margin: 100px;
  }

  #payment-form {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
  }
  
  #payment-form input, #payment-form select {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
  }

  #payment-form button {
    background-color: #ff69b4;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
  }
  